[Desktop Entry]
Encoding=UTF-8
Name=Dobbscoin
Comment=Dobbscoin P2P Cryptocurrency
Comment[fr]=Dobbscoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dobbscoin, eşten eşe kriptografik sanal para birimi
Exec=dobbscoin-qt %u
Terminal=false
Type=Application
Icon=dobbscoin128
MimeType=x-scheme-handler/dobbscoin;
Categories=Office;Finance;
