[Desktop Entry]
Encoding=UTF-8
Name=Bitcoin
Comment=Bitcoin P2P Cryptocurrency
Comment[fr]=Bitcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitcoin, eşten eşe kriptografik sanal para birimi
Exec=dobbscoin-qt %u
Terminal=false
Type=Application
Icon=dobbscoin128
MimeType=x-scheme-handler/dobbscoin;
Categories=Office;Finance;
