src/*.exe
src/dobbscoin
src/dobbscoind
src/test_dobbscoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.dobbscoin

# Compilation and Qt preprocessor part
*.qm
Makefile
dobbscoin-qt
Dobbscoin-Qt.app

# Unit-tests
Makefile.test
dobbscoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
