<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>dobbscoin.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>$VERSION, Copyright © 2009-$YEAR The Dobbscoin developers</string>
	<key>CFBundleShortVersionString</key>
	<string>$VERSION</string>
	<key>CFBundleVersion</key>
	<string>$VERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Dobbscoin-Qt</string>
	<key>CFBundleIdentifier</key>
	<string>info.dobbscoin.Dobbscoin-Qt</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>info.dobbscoin.DobbscoinPayment</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dobbscoin</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
